*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    min-height:100%;
}

body{
    background-image: url("https://i.pinimg.com/736x/ce/39/8f/ce398f3be813b7f9dd4bffe79f0ca272.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
    background-attachment:scroll;

    font-family:Papyrus, serif;
}

.invitacion{
    width:100%;
    max-width:430px;
    min-height:100vh;
    margin:auto;
    padding:50px 20px;
    text-align:center;
    color:#000;
}

.titulo{
    font-family:'Garamond', cursive;
    font-size:52px;
    font-weight:400;
    margin-bottom:8px;
}
.titulo-curvo{
    width:300px;
    height:90px;
    display:block;
    margin:auto;
}

.edad{
    font-size:110px;
    font-weight:400;
    line-height:1;
}

.nombre{
    font-family:'Garamond';
    font-size:42px;
    margin-top:10px;
}

.fecha{
    margin:70px 0;
}

.dia{
    font-size:34px;
}

.hora{
    display:block;
    font-size:52px;
    font-style:italic;
}

.ft{
    display:flex;
    justify-content:center;
    gap:12px;
    flex-wrap:wrap;
    margin-top:20px;
    margin: 18px;
}

.ft img{
    width:110px;
    height:150px;
    object-fit:cover;
    border-radius:8px;
}

.dc{
    font-size:25px;
}
